VITE_SUPABASE_URL=https://mymfxpfhnymnwppkjeem.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15bWZ4cGZobnltbndwcGtqZWVtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1NzAyMjMsImV4cCI6MjA5NjE0NjIyM30.TOmmCq-gUrNx_mDAl5_WpY2cBQE9Abp-y8vIV2P533Y
